body{
    background-color: beige;
}

.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 300px;
  
    border: 2px solid red;
}
.row1,.row2,.row3{
    border: 1px dotted black;
}

.row1{
 grid-column: 1/13;
 grid-row: 1/2;
background-color: chartreuse;
display: grid;
grid-template-columns: 2;
grid-template-rows: 2;
width: 300px;
}

.row2{
    grid-column: 1/13;
    grid-row: 2/3;
}
.row3{
    grid-column: 1/13;
    grid-row: 3/4;
}
.row1col1,.row1col2,.row2col1,.row2col2{
height: 70px;
border: 1px solid red;
width: 100px;
}
.row1col1{
grid-column: 1/2;
grid-row: 1/2;
}
.row1col2{
grid-column: 2/3;
grid-row: 1/2;
}
.row2col1{
    grid-column: 1/2;
    grid-row: 2/3;
}
.row2col2{
    grid-column: 2/3;
    grid-row: 2/3;
}
