body{
    background-color: beige;
}

ul li{
    list-style: none;
    display: inline;
    padding: 20px;
}

li:hover{
    background-color: cadetblue;
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 300px;
    width: 100%;
  
    border: 2px solid red;
}
.row1{
grid-row: 1/2;

grid-column: 1/13;

background-color: black;
color: white;
height: 70px;
border: 1px dotted red;
display: flex;
justify-content: space-around;
align-items: center;
}

.row2{
    grid-row: 2/3;

    grid-column: 1/13;
    background-color:rgb(15, 17, 17);
color: white;
height: 60px;
border: 1px dotted red;

}

.row3{
grid-column: 1/13;
grid-row: 3/4;
height: 300px;
background-color: aquamarine;
border: 2px solid greenyellow;

}
.row4{
    grid-column: 1/13;
    grid-row: 4/5;
    height: 400px;
    background-color: thistle;
    border: 1px solid cyan;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.row41,.row42,.row43,.row44{
    height: 300px;
    width: 250px;
    border: 1px solid red;
    box-sizing: border-box;
}

.row41{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
   margin: 10px;
}
.row411,.row412,.row413,.row414{
    border: 1px solid yellowgreen;
    padding: 10px;
    height: 120px;
}

.row411{
    display: flex;
    flex-direction: column;
    
   
   
}


.row411 h4 {
    margin: 0; /* Remove default margin */
  }